<!DOCTYPE html>
<html>
  <head>
    <title><%= gw%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= gw %></h1>
    <p>Welcome to <%= gw %></p>
  </body>
</html>
